/*
================================
Embedded fonts
================================
*/
@font-face {
	
	font-family: "Trajan Pro";
	src: url('998687745-TrajanPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;	
}

@font-face  {
    font-family: 'CS Avva Shenouda';
    src: url('cs_avva_shenouda.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Hazzat';
    src: url('hazzat1_10a.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hazzat Vertical';
    src: url('hazzatv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hazzat Arabic';
    src: url('hazzata.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hazzat Vertical Arabic';
    src: url('hazzatva.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
================================
Hymn text Styles
================================
*/
.HymnTitle {
    padding: 0px 0px 22px;
    font-family: "Trajan Pro";
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
}

.CopticFont {
    text-decoration: none;
    font-family: 'CS Avva Shenouda';
    font-size: 18px;
}
.HazzatFont {
    text-decoration: none;
    font-family: 'Hazzat';
    font-size: 18px;
}
.HazzatVFont {
    text-decoration: none;
    font-family: 'Hazzat Vertical';
    font-size: 18px;

}
.HazzatAFont {
    text-decoration: none;
    font-family: 'Hazzat Arabic';
    font-size: 22px;
    text-align: right;
    direction: rtl;
}
.HazzatVAFont {
    text-decoration: none;
    font-family: 'Hazzat Vertical Arabic';
    font-size: 22px;
    text-align: right;
    direction: rtl;
    color:blue;
}
.EnglishFont {
    text-decoration: none;
    font-family: ARIAL,verdana;
    font-size: 18px;
}
.ArabicFont {
    text-decoration: none;
    font-family: 'Arabic Transparent';
    font-size: 22px;
    text-align: right;
    direction: rtl;
}
.EnglishComment {
    color: red; /* Need to translate to resource */
    text-decoration: none;
    font-family: ARIAL,verdana;
    font-size: 14px;
    font-style: italic;
}
.CopticComment {
    color: red; /* Need to translate to resource */
    text-decoration: none;
    font-family: 'CS Avva Shenouda';
    font-size: 14px;
    font-style: italic;
}
.ArabicComment {
    color: red; /* Need to translate to resource */
    text-decoration: none;
    font-family: 'Arabic Transparent';
    font-size: 16px;
    font-style: italic;
    text-align: right;
    direction: rtl;
}
